@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

main {
    margin-top: 120px;
}

nav {
    width: 100%;
    padding: 25px 80px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    color: #3298db;
    background: transparent;
}

a {
    color: #000000;
    text-decoration: none;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    margin-right: 6px;
}

form {
    padding-bottom: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

input,
button {
    outline: none;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #3298db;
}

input {
    width: 295px;
}

button {
    cursor: pointer;
    color: #ffffff;
    background: #3298db;
}

small {
    color: #e74c3c;
    opacity: 0;
}

#todo-list {
    width: 420px;
    height: 420px;
    padding: 0 10px 10px 4px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#todo-list::-webkit-scrollbar {
    width: 5px;
}

#todo-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #e5e5e5;
}

h1 {
    color: #3298db;
    text-align: center;
    margin-top: 80px;
}

span {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0px 8px 0 20px;
    text-transform: capitalize;
    border-top: 4px solid #3298db;
    box-shadow: 0 2px 4px #e5e5e5;
}

p {
    width: 95%;
}

span img {
    width: 44px;
    height: 44px;
    padding: 12px;
    cursor: pointer;
}

footer {
    color: #95a4a6;
}

@media (max-width: 480px) {
    main {
        width: 100%;
        padding: 20px 15px;
        margin-top: 15%;
    }

    nav {
        padding: 20px 15px;
    }

    nav button {
        border: none;
        padding: 5px;
        width: fit-content;
    }

    #logo img {
        width: 18px;
        height: 18px;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 0;
    }

    input,
    button {
        font-size: 15px;
        padding: 6px 12px;
    }

    input {
        width: 63%;
    }

    button {
        width: 35%;
    }

    #todo-list {
        width: 100%;
        height: 67vh;
        padding: 0 4px 10px 4px;
        border-bottom: 1px solid #e5e5e5;
    }

    #todo-list::-webkit-scrollbar {
        width: 0px;
    }

    small {
        font-size: 12px;
    }

    h1 {
        font-size: 24px;
    }

    footer {
        font-size: 14px;
        margin-bottom: 14px;
    }
}
